.App {
  text-align: center;
}

body {
  color: white;
  background-color: rgb(13, 13, 13);
}

.weather {
  background-color: rgb(30, 30, 30);
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 2rem;
  
}

.input-box {
  margin-top: 2rem;
}

input {
  background-color: blanchedalmond;
  border: none;
}

button {
  border: none;
  margin-left: .5rem;
}

input::placeholder {
  padding-left: 2rem;
  font-size: .65rem;
}